<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/current_members.css') }}">
        <title>Legislator Examinator</title>
    </head>
    <body>
        <p><a href='/'>Home</a></p>
        <h1>The Legislator Examinator</h1>
        <h2>Current Members of Congress</h2>
        <span class='current_members_wrapper'>
            <span>
                <h3>Senate</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>State</th>
                            <th>Party</th>
                        </tr>
                    </thead>
                    {% for senator in senate %}
                            <tr>
                                <td><a href={{senator.url}} target='_blank'>{{senator.first_name}} {{senator.last_name}}</a></td>
                                <td>{{senator.state}}</td>
                                <td>{{senator.party}}</td>
                            </tr>
                    {% endfor %}
                </table>
            </span>
            <span>
                <h3>House</h3>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>State</th>
                            <th>Party</th>
                        </tr>
                    </thead>
                    {% for house in house %}
                        <tr>
                            <td><a href={{house.url}} target='_blank'>{{house.first_name}} {{house.last_name}}</a></td>
                            <td>{{house.state}}</td>
                            <td>{{house.party}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </span>
        </span>
    </body>
</html>
