<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}">
        <title>Legislator Examinator</title>
    </head>
    <body class='homepage'>
        <h1>The Legislator Examinator</h1>
        <h2>By <a href='https://github.com/mdamschroder' target='_blank'>McKenna Damschroder</a> and <a href='https://github.com/imbayard' target='_blank'>Bayard Eton</h2>
        <span class='features'>
            <a href='/current_members'>See All Current Members</a>
            <a href='/get_bills'>See Recent Bills</a>
        </span>
    </body>
</html>
