<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}">
        <title>Legislator Examinator</title>
    </head>
    <body class='homepage'>
        <h1 class='header-title'>The Legislator Examinator</h1>
        <h2 class='header-title'>By <a href='https://github.com/mdamschroder' target='_blank'>McKenna Damschroder</a> and <a href='https://github.com/imbayard' target='_blank'>Bayard Eton </a></h2>
        <span class='features'>
            <h4 class='features-title'>Features</h4>
            <a class='feature' href='/current_members'>Current Congress</a>
            <a class='feature' href='/get_bills'>Recent Bills</a>
            <a class="feature" href='/analytics'>Analytics</a>
        </span>
    </body>
</html>
