.analytics-page {
    justify-content: center;
}

.header-row {
    display: grid;
    grid-template-columns: 10vw auto;
}

.graph-card {
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(161, 243, 238);
    border: 2px solid rgb(48, 131, 127);
    color: rgb(48, 131, 127);
    margin: auto;
    margin-right: 5px;
    padding: 5px;
    border-radius: 12px;
}
